# Evita instalar dependencias de paquetes no declarados explícitamente
shamefully-hoist=false

# Guarda el store en el directorio del usuario (compartido entre proyectos)
# store-dir=~/.pnpm-store

# Siempre mostrar advertencias de peer dependencies
strict-peer-dependencies=false
auto-install-peers=true
